//-------------------------------------
// import files
//-------------------------------------
// @import "wp/wp_theme_pc";
@import "mixin";
@import "settings/reset";
@import "settings/general";
@import "settings/setting_pc";
@import "settings/base";
@import "parts/parts_common";
@import "parts/parts_pc";
@import "parts/loading";
@import "helper";
// @import "wp/wp_native";
// @import "wp/wp_parts_common";
// @import "wp/wp_parts_pc";
// @import "wp/wp_cf7_pc";


/* --------------------
  javascript settings
-------------------- */
a.disable {
  cursor: default;
  opacity: .6;
  &:hover {
    opacity: .6;
    animation: none;
  }
}

.js-tglTgt {
  display: none;
}


/* --------------------
  project original
-------------------- */

/* titles
-------------------- */


/* tables
-------------------- */



/* boxes
-------------------- */



/* links
-------------------- */



/* btns
-------------------- */



/* arrows
-------------------- */



/* tags
-------------------- */



/* lists
-------------------- */



/* --------------------
  common sections
-------------------- */
.wrapper {
}

/* contents
-------------------- */
.contents {
  min-height: 500px;
}

// lower common
body {
  &:not(.home) {
  }
}





/* page content
-------------------- */
.page-contents {
}

/* header
-------------------- */
.header {
}

.bnav {
}


/* footer
-------------------- */
.footer {
}


/* sidebar
-------------------- */
.side-contents {
}


/* archive共通
-------------------- */
body.archive {
}


/* single共通
-------------------- */
body.single {
}




/* トップ
-------------------- */
body.home {
}



