//-------------------------------------
// import files
//-------------------------------------
// @import "wp/wp_theme_pc";
@import "mixin";
@import "settings/reset";
@import "settings/general";
@import "settings/setting_pc";
@import "settings/base";
@import "parts/parts_common";
@import "parts/parts_pc";
@import "parts/loading";
@import "helper";
// @import "wp/wp_native";
// @import "wp/wp_parts_common";
// @import "wp/wp_parts_pc";
// @import "wp/wp_cf7_pc";

$mgnBase: 40px;

$colors: (
  'base': $color-a,
  'theme-red': #c60613,
);

$lightCol: 80;

$hoverColors: (
  'base': $color-a + $lightCol,
  'theme-red': map-get($colors, 'theme-red') + $lightCol,
);


@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .col-#{$name} {
    color: $color;
  }
  .hov-col-#{$name} {
    color: $color;
    &:hover:not(.disable) {
      color: map-get($hoverColors, #{$name});
      // transition: color $hoverTransition linear 0s;
      transition: all $hoverTransition linear 0s;
    }
  }
}


/* --------------------
  javascript settings
-------------------- */


/* --------------------
  project original
-------------------- */

/* titles
-------------------- */


/* tables
-------------------- */



/* boxes
-------------------- */



/* links
-------------------- */



/* btns
-------------------- */



/* arrows
-------------------- */



/* tags
-------------------- */



/* lists
-------------------- */



/* --------------------
  common sections
-------------------- */
.wrapper {
}

/* contents
-------------------- */
.contents {
  min-height: 500px;
}

// lower common
body {
  &:not(.home) {
  }
}





/* page content
-------------------- */
.page-contents {
}

/* header
-------------------- */
.header {
}

.bnav {
}


/* footer
-------------------- */
.footer {
}


/* sidebar
-------------------- */
.side-contents {
}


/* archive共通
-------------------- */
body.archive {
}


/* single共通
-------------------- */
body.single {
}




/* トップ
-------------------- */
body.home {
}



