//-------------------------------------
// import files
//-------------------------------------
// @import "wp/wp_theme_sp";
@import "mixin";
@import "settings/reset";
@import "settings/general";
@import "settings/setting_sp";
@import "settings/base";
@import "parts/parts_common";
@import "parts/parts_sp";
@import "parts/loading";
@import "helper";
// @import "wp/wp_native";
// @import "wp/wp_parts_common";
// @import "wp/wp_parts_sp";
// @import "wp/wp_cf7_sp";

$mgnBase: 8%;

$headerHeight: 14%;

$colors: (
  'bk': black,
  'wh': white,
  'base': $color-a,
  'theme-red': #c60613,
  'light-gray': #e3e3e3,
);

$lightCol: 80;

$hoverColors: (
  'bk': black,
  'wh': white,
  'base': $color-a + $lightCol,
  'theme-red': #c60613 + $lightCol,
  'light-gray': #e3e3e3 + $lightCol,
);


@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .col-#{$name} {
    color: $color;
  }
  .hov-col-#{$name} {
    color: $color;
  }
}


body {
  @include getFontSize(22);
  background-color: #f0f0f0;
}

.ib-range {
  > * {
    @include getFontSize(24);
  }
}


/* --------------------
  javascript settings
-------------------- */



/* --------------------
  project original
-------------------- */


/* titles
-------------------- */



/* tables
-------------------- */




/* links
-------------------- */



/* btns
-------------------- */



/* arrows
-------------------- */




/* tags
-------------------- */




/* lists
-------------------- */




/* --------------------
  common sections
-------------------- */
.wrapper {
}

/* contents
-------------------- */
.contents {
  min-height: 300px;
}


// lower common
body {
  &:not(.home) {
  }
}



/* page content
-------------------- */
.page-contents {
}

/* header
-------------------- */
.header {
}


.bnav {
}


/* footer
-------------------- */
.footer {
}


/* sidebar
-------------------- */
.side-contents {
}


/* archive共通
-------------------- */
body.archive {
}


/* single共通
-------------------- */
body.single {
}




/* トップ
-------------------- */
body.home {
}




