//-------------------------------------
// import files
//-------------------------------------
// @import "wp/wp_theme_sp";
@import "mixin";
@import "settings/reset";
@import "settings/general";
@import "settings/setting_sp";
@import "settings/base";
@import "parts/parts_common";
@import "parts/parts_sp";
@import "parts/loading";
@import "helper";
// @import "wp/wp_native";
// @import "wp/wp_parts_common";
// @import "wp/wp_parts_sp";
// @import "wp/wp_cf7_sp";


/* --------------------
  javascript settings
-------------------- */
a.disable {
  opacity: .6;
}

.js-tglTgt {
  display: none;
}

.btn-totop {
  width: 8%;
}


/* --------------------
  project original
-------------------- */


/* titles
-------------------- */



/* tables
-------------------- */




/* links
-------------------- */



/* btns
-------------------- */



/* arrows
-------------------- */




/* tags
-------------------- */




/* lists
-------------------- */




/* --------------------
  common sections
-------------------- */
.wrapper {
}

/* contents
-------------------- */
.contents {
  min-height: 300px;
}


// lower common
body {
  &:not(.home) {
  }
}



/* page content
-------------------- */
.page-contents {
}

/* header
-------------------- */
.header {
}


.bnav {
}


/* footer
-------------------- */
.footer {
}


/* sidebar
-------------------- */
.side-contents {
}


/* archive共通
-------------------- */
body.archive {
}


/* single共通
-------------------- */
body.single {
}




/* トップ
-------------------- */
body.home {
}




